*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dedcdc;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.wrapper,
.wr-future{
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
    margin: 25px 30px 0 ;
font-size: 25px;
}
.wrap-i,
.wrap-date{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 70px 0 ;
    align-items: center;
}
.input-wr{
    width: 300px;

}
.country,
.city,
.temp{
    display: flex;
    align-items: center;
}
.input,
.input-text,
.date{
    border: none;
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px;
}

.btn,
.btn-clear,
.btn-future{
    background-color: dodgerblue;
    border: none;
    padding: 7px 15px;
    border-radius: 30px;
    color: #fff;
}
.btn:hover{
    background-color: rgba(201, 199, 199, 0.8);
    transition: 0.6s;
    color: #232222;
}
.btn-clear:hover{
    background-color: rgba(201, 199, 199, 0.8);
    transition: 0.6s;
    color: #232222;
}
.wr-h-i,
.cc,
.ccc,
.wr-h-i2{
    display: flex;
    align-items: center;

}